<template>
    <div id="publisher-form">
        <toolbar></toolbar>

        <md-layout md-gutter>
            <md-layout>
                <md-input-container>
                    <label>First Name</label>
                    <md-input v-model="publisher.firstName" v-on:change="save"></md-input>
                </md-input-container>
                <md-input-container>
                    <label>Last Name</label>
                    <md-input v-model="publisher.lastName" v-on:change="save"></md-input>
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <md-input type="email" v-model="publisher.email" @change="save"></md-input>
                </md-input-container>
                <md-input-container>
                    <label for="publisher_gender">Gender</label>
                    <md-select name="gender" id="publisher_gender" v-model="publisher.gender" v-on:change="save">
                        <md-option value="male">Brother</md-option>
                        <md-option value="sister">Sister</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label for="publisher_serving">Status</label>
                    <md-select name="gender" id="publisher_serving" v-model="publisher.serving" v-on:change="save">
                        <md-option value="unbaptized_publisher">Unbaptized Publisher</md-option>
                        <md-option value="publisher">Publisher</md-option>
                        <md-option value="ministerial_servant">Ministerial Servant</md-option>
                        <md-option value="elder">Elder</md-option>
                    </md-select>
                </md-input-container>
            </md-layout>
        </md-layout>

        <md-checkbox v-model="publisher.privileges.wt_scripture_reader" v-on:change="save">
            Watchtower Study Scripture Reader
        </md-checkbox>
    </div>
</template>

<script>
export default {
  data () {
    return {
      publisher: {
        privileges: {
          wt_scripture_reader: false
        }
      }
    }
  },
  methods: {
    getRepo () {
      return this.$repository('Publisher')
    },
    save () {
      this.getRepo().saveDelayed(this.publisher)
        .then((response) => {
          console.log(this)
          return this.$db.get(response.id)
        })
        .then((response) => {
          console.log(response)
          this.publisher = response
        })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    if (this.$route.params.id) {
      this.$db.get(this.$route.params.id)
        .then((doc) => {
          this.publisher = doc
        })
    }
  }
}
</script>
