<template>
    <div id="publishers">
        <toolbar>
            <div class="md-toolbar-container" slot="secondary">
                <h1 class="md-title">Publishers</h1>

                <router-link tag="md-button" class="md-fab md-mini" :to="{ name: 'publishers.add' }">
                    <md-icon>add</md-icon>
                </router-link>
            </div>
        </toolbar>

        <md-table v-if="publishers.length > 0">
            <md-table-header>
                <md-table-row>
                    <md-table-head>Name</md-table-head>
                    <md-table-head></md-table-head>
                    <md-table-head></md-table-head>
                </md-table-row>
            </md-table-header>
            <md-table-body>
                <md-table-row v-for="publisher in publishers">
                    <md-table-cell>{{ publisher.firstName }} {{ publisher.lastName }}</md-table-cell>
                    <md-table-cell>
                        <router-link tag="md-button" class="md-icon-button" :to="{ name: 'publishers.edit', params: { id: publisher._id } }">
                            <md-icon>edit</md-icon>
                        </router-link>
                    </md-table-cell>
                    <md-table-cell>
                        <md-button class="md-icon-button" @click="openDialog(publisher, 'confirmDelete')">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </md-table-cell>
                </md-table-row>
            </md-table-body>
        </md-table>
        <p v-if="publishers.length < 1">No publishers yet, start <router-link :to="{ name: 'publishers.add' }">adding some</router-link>.</p>

        <md-dialog-confirm
            :md-title="confirm.title"
            :md-content-html="confirm.contentHtml"
            :md-ok-text="confirm.ok"
            :md-cancel-text="confirm.cancel"
            @close="onConfirmClose"
            ref="confirmDelete">
        </md-dialog-confirm>

    </div>
</template>

<script>
import _ from 'underscore'

export default {
  data () {
    return {
      publishers: [],
      selectedRecord: null,
      confirm: {
        title: 'Confirm Delete',
        contentHtml: 'Are you sure you want to delete this publisher?',
        ok: 'Yes',
        cancel: 'No'
      }
    }
  },
  methods: {
    openDialog (selected, ref) {
      this.selectedRecord = selected
      this.$refs[ref].open()
    },
    closeDialog (ref) {
      this.$refs[ref].close()
    },
    getRepo () {
      return this.$repository('Publisher')
    },
    remove (doc) {
      this.publishers = _.without(this.publishers, doc)
      return this.$db.remove(doc)
    },
    onConfirmClose (type) {
      if (type === 'ok') {
        this.remove(this.selectedRecord)
      }
    }
  },
  created () {
    console.log('created')

    this.getRepo().all().then((docs) => {
      console.log(docs)
      let unsorted = _.map(docs.rows, function (row) {
        return row.doc
      })

      this.publishers = _.sortBy(unsorted, function (publisher) {
        return publisher.lastName + ', ' + publisher.firstName
      })
    })
  }
}
</script>
