<template>
    <div id="configuration">
        <toolbar>
            <div class="md-toolbar-container" slot="secondary">
                <h1 class="md-title">Settings</h1>
            </div>
        </toolbar>


        <md-input-container>
            <label>Email</label>
            <md-input v-model="record.email" v-on:change="save"></md-input>
        </md-input-container>

        <md-input-container>
            <label>Outbound SMTP (Google, Yahoo, Outlook, etc)</label>
            <md-input v-model="record.outbound_smtp" v-on:change="save"></md-input>
        </md-input-container>

        <md-button @click="testConnection()">
            Test Connection
        </md-button>

        <md-button @click="exportDatabase">
            Export Database
        </md-button>

        <md-dialog ref="testPrompt">
            <md-dialog-title>Enter Password</md-dialog-title>

            <md-dialog-content>
                <form novalidate>
                    <md-input-container md-has-password>
                        <label>Password</label>
                        <md-input type="password" v-model="emailPassword"></md-input>
                    </md-input-container>
                </form>
            </md-dialog-content>

            <md-dialog-actions>
                <md-button @click="closePromptTest">
                    Close
                </md-button>
                <md-button @click="testConnection">
                    Login
                </md-button>
            </md-dialog-actions>
        </md-dialog>

        <md-snackbar ref="snackbar">
            <span>{{ snackMessage }}</span>
            <!--<md-button class="md-accent" md-theme="light-blue" @click="$refs.snackbar.close()">Close</md-button>-->
        </md-snackbar>
    </div>
</template>

<script>
import Mail from '../mail/Mail'

export default {
  data () {
    return {
      emailPassword: null,
      record: {
        _id: 'config',
        email: null,
        outbound_smtp: null
      },
      snackMessage: null
    }
  },
  methods: {
    openPromptTest () {
      this.$refs['testPrompt'].open()
    },
    closePromptTest () {
      this.$refs['testPrompt'].close()
    },
    testConnection (emailPassword = null) {
      if (!emailPassword) {
        emailPassword = this.$container.emailPassword
      }

      if (!emailPassword) {
        return this.$passwordDialog.open().then((result) => {
          if (result.action === 'done') {
            this.testConnection(result.password)
          }
        })
      }

      let mailer = new Mail(this.record.email, this.record.outbound_smtp)
      mailer.setPassword(emailPassword)
      console.log(mailer)

      mailer.verify()
        .then(() => {
          this.showSnack('Connected to mail server')

          this.$bottle.constant('emailPassword', emailPassword)
        })
        .catch((error) => {
          console.log(error)

          this.showSnack('Unable to connect to SMTP')
        })
    },
    save () {
      if (this.saveTimeout) {
        clearTimeout(this.saveTimeout)
      }

      this.saveTimeout = setTimeout(() => {
        this.$db.put(this.record)
          .then((result) => {
            return this.$db.get('config')
          })
          .then((doc) => {
            this.record = doc
          })
      }, 500)
    },
    showSnack (message) {
      this.snackMessage = message
      this.$refs['snackbar'].open()
    },
    exportDatabase () {
      const {dialog} = require('electron').remote

      dialog.showSaveDialog((fileName) => {
        const stream = require('fs').createWriteStream(fileName)

        this.$db.dump(stream).then(() => {
          this.showSnack('Exported database')
        })
      })
    }
  },
  created () {
    this.$db.get('config').then((result) => {
      this.record = result
    }).catch(function (error) {
      console.log(error)
    })
  }
}
</script>
