<template>
    <div id="left-nav">
        <md-toolbar>
            <md-button class="md-icon-button" @click="toggleLeftSidenav">
                <md-icon>menu</md-icon>
            </md-button>

            <h2 class="md-title">CongOrg</h2>

            <router-link tag="md-button" :to="{ name: 'landing-page' }">Dashboard</router-link>
            <router-link tag="md-button" :to="{ name: 'publishers' }">Publishers</router-link>
            <router-link tag="md-button" :to="{ name: 'watchtower' }">Watchtower Study</router-link>
            <router-link tag="md-button" :to="{ name: 'settings' }">Settings</router-link>
        </md-toolbar>

        <md-sidenav class="md-left" ref="leftSidenav" @open="open('Left')" @close="close('Left')">
            <md-toolbar class="md-large">
                <div class="md-toolbar-container">
                    <h3 class="md-title">Menu</h3>
                </div>
            </md-toolbar>

            <md-list>
                <md-list-item>
                    <router-link tag="md-button" :to="{ name: 'landing-page' }">Dashboard</router-link>
                </md-list-item>
                <md-list-item>
                    <router-link tag="md-button" :to="{ name: 'publishers' }">Publishers</router-link>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <slot name="secondary"></slot>
    </div>
</template>

<script>
export default {
  methods: {
    toggleLeftSidenav () {
      this.$refs.leftSidenav.toggle()
    },
    open (ref) {
      console.log('Opened: ' + ref)
    },
    close (ref) {
      console.log('Closed: ' + ref)
    }
  }
}
</script>
