<template>
    <div id="watchtower_study">
        <toolbar></toolbar>
        <md-table>
            <md-table-header>
                <md-table-row>
                    <md-table-head>Week Of</md-table-head>
                    <md-table-head># Scriptures</md-table-head>
                    <md-table-head>Assignments Completed</md-table-head>
                    <md-table-head>&nbsp;</md-table-head>
                </md-table-row>
            </md-table-header>
            <md-table-body v-if="selectedDate">
                <md-table-row v-for="showDate in showDates">
                    <md-table-cell>{{ showDate.format('MMMM D Y') }}</md-table-cell>
                    <md-table-cell>{{ numberScriptures(showDate) }}</md-table-cell>
                    <md-table-cell>No</md-table-cell>
                    <md-table-cell>
                        <router-link tag="md-button" class="md-icon-button" :to="{ name: 'watchtower.edit', params: { date: showDate.format('YYYYMMDD') } }">
                            <md-icon>edit</md-icon>
                        </router-link>
                    </md-table-cell>
                </md-table-row>
            </md-table-body>
        </md-table>
    </div>
</template>

<script>
import moment from 'moment'
import _ from 'underscore'

function normalizeDate (momentDate) {
  if (momentDate.day() === 1) {
    return momentDate
  }

  if (momentDate.day() === 0) {
    return momentDate.add(1, 'day')
  }

  // everything else
  const diff = momentDate.day() - 1

  return momentDate.subtract(diff, 'days')
}

export default {
  data () {
    return {
      selectedDate: normalizeDate(moment().subtract('2', 'weeks')),
      records: []
    }
  },
  methods: {
    getRecord (date) {
      return _.findWhere(this.records, { date: date.format('YYYYMMDD') })
    },
    numberScriptures (date) {
      let record = this.getRecord(date)

      return record ? _.size(record.scriptures) : 0
    }
  },
  watch: {
    selectedDate (newDate) {
      this.$repository('WatchtowerStudy')
        .allStartingWith(newDate)
        .then((results) => {
          this.records = results.docs
        })
    }
  },
  computed: {
    showDates () {
      let range = [this.selectedDate]

      for (let i = 1; i <= 8; i++) {
        range.push(moment(this.selectedDate).add(i, 'weeks'))
      }

      return range
    }
  },
  created () {
    this.$repository('WatchtowerStudy')
      .allStartingWith(this.selectedDate)
      .then((results) => {
        this.records = _.pluck(results.rows, 'doc')
      })
  }
}
</script>
