<template>
  <div>
    <md-dialog ref="prompt">
      <md-dialog-title>Enter Password</md-dialog-title>

      <md-dialog-content>
        <form novalidate>
          <md-input-container md-has-password>
            <label>Password</label>
            <md-input type="password" v-model="password"></md-input>
          </md-input-container>
        </form>
      </md-dialog-content>

      <md-dialog-actions>
        <md-button @click="cancel">
          Cancel
        </md-button>
        <md-button @click="done">
          Done
        </md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      password: ''
    }
  },
  methods: {
    open () {
      this.$refs['prompt'].open()

      return new Promise((resolve) => {
        this.$once('done', () => {
          resolve({
            action: 'done',
            password: this.password,
            dialog: this
          })
        })
        this.$once('cancel', () => {
          resolve({ action: 'cancel', dialog: this })
        })
      })
    },
    cancel () {
      this.$refs['prompt'].close()
      this.$emit('cancel')
    },
    done () {
      this.$refs['prompt'].close()
      this.$emit('done')
    }
  }
}
</script>
