<template>
    <div id="watchtower_study_form">
        <toolbar>
            <div class="md-toolbar-container" slot="secondary">
                <h1 class="md-title">Watchtower Study Readers</h1>
            </div>
        </toolbar>

        <div v-if="showBulk">
            <md-input-container>
                <label>Scriptures (One Per Line)</label>
                <md-textarea v-model="bulk.scriptures"></md-textarea>
            </md-input-container>

            <div>
                <md-checkbox v-model="bulk.auto_fill">
                    Auto fill assignments?
                </md-checkbox>
            </div>

            <md-button v-on:click="saveBulk">
                Add
            </md-button>
        </div>

        <md-table v-if="!isEmpty(record.scriptures)">
            <md-table-header>
                <md-table-row>
                    <md-table-head>Scripture</md-table-head>
                    <md-table-head>Assigned To</md-table-head>
                </md-table-row>
            </md-table-header>
            <md-table-body>
                <md-table-row v-for="(assignment, sindex) in record.scriptures">
                    <md-table-cell>{{ assignment.scripture }}</md-table-cell>
                    <md-table-cell>
                        <md-select name="reader" v-model="assignment.reader" v-on:change="save">
                            <template v-for="reader in readers">
                                <md-option :value="reader._id">{{ reader.firstName }} {{ reader.lastName }}</md-option>
                            </template>
                        </md-select>
                    </md-table-cell>
                </md-table-row>
            </md-table-body>
        </md-table>
    </div>
</template>

<script>
import _ from 'underscore'

export default {
  data () {
    return {
      showBulk: true,
      bulk: {
        auto_fill: true,
        scriptures: ''
      },
      readers: [],
      record: {
        date: null,
        scriptures: []
      }
    }
  },
  methods: {
    isEmpty (obj) {
      return _.isEmpty(obj)
    },
    showBulkForm () {
      this.showBulk = true
    },
    hideBulkForm () {
      this.showBulk = false
    },
    saveBulk () {
      let scriptures = this.bulk.scriptures.split('\n')

      scriptures.forEach((scripture, index) => {
        if (this.bulk.auto_fill) {
          let reader = this.readers[index]

          this.record.scriptures.push({
            scripture: scripture,
            reader: reader._id
          })
        }
      })

      this.showBulk = false
      this.save()
    },
    getLastUsedReaders () {
      this.$repository('Publisher').allReaders().then((results) => {
        this.readers = results
      })
    },
    getReader (id) {
      return _.findWhere(this.readers, { _id: id })
    },
    save () {
      const readerIds = _.map(this.record.scriptures, function (entry) {
        return entry.reader
      })
      const readers = _.filter(this.readers, function (reader) {
        return readerIds.indexOf(reader._id) >= 0
      })

      readers.forEach((reader) => {
        reader.history.lastWatchtowerScriptureRead = this.record.date
      })
      this.$db.bulkDocs(readers).then(() => {
        this.getLastUsedReaders()
      })

      this.$repository('WatchtowerStudy').saveDelayed(this.record)
        .then((result) => {
          return this.$repository('WatchtowerStudy').find(this.record.date)
        })
        .then((record) => {
          this.record = record
        })
    }
  },
  created () {
    this.getLastUsedReaders()

    if (this.$route.params.date) {
      this.$repository('WatchtowerStudy').find(this.$route.params.date)
        .then((result) => {
          this.record = result
          this.showBulk = false
        })
        .catch((error) => {
          if (error.status === 404) {
            this.record.date = this.$route.params.date
          }
        })
    }
  }
}
</script>
