<template>
  <div id="app">
    <password-dialog />
    <router-view></router-view>
  </div>
</template>

<script>
  import 'vue-material/dist/vue-material.css'
  import PasswordDialog from './components/Util/PasswordDialog'

  export default {
    name: 'cong-org',
    components: { 'password-dialog': PasswordDialog }
  }
</script>

<style>
  /* CSS */
  #main_content {
    padding: 16px;
  }
</style>
