<!DOCTYPE html>
<html>
<head>
    <title>CongOrg</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div id="root"></div>
{{#if htmlWebpackPlugin.options.production }}
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.bundle.js');
        }
    </script>
{{/if}}
</body>
</html>
